Repository Informed/darshan-test-versio: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-api_handler, run-partner_profile

.circleci/config.yml:

# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

setup: true

parameters:
  run-api_handler:
    type: boolean
    default: false
  run-api_handler-prod:
    type: boolean
    default: false
  version:
    type: string
    default: ""
  run-partner_profile:
    type: boolean
    default: false
  tf-dev_api_handler:
    type: boolean
    default: false
  tf-dev_partner_profile:
    type: boolean
    default: false

orbs:
  path-filtering: circleci/path-filtering@0.1.1
  split-config: bufferings/split-config@0.1.0
workflows:
  always-run:
    jobs:
      - split-config/generate-config:
          find-config-regex: |
             \./commons/\.circleci/.*\.yml
             \./apps/api_handler/.circleci/*.yml
             \./apps/partner_profile/.circleci/*.yml
             \./infrastructure/.circleci/*.yml
          generated-config-path: /tmp/generated_config.yml
          continuation: false
          post-steps:
            - persist_to_workspace:
                root: /tmp
                paths:
                  - generated_config.yml
      - path-filtering/filter:
          name: check-updated-files
          workspace_path: /tmp
          config-path: /tmp/generated_config.yml
          mapping: |
            apps/api_handler/.* run-api_handler true
            apps/partner_profile/.* run-partner_profile true
#            infrastructure/api_handler/sand/dshah.* tf-dev_api_handler true
#            infrastructure/partner_profile/sand/dshah.* tf-dev_partner_profile tru
          base-revision: main
          requires:
            - split-config/generate-config

Trigger
  infrastructure/api_handler/sand/dshah/variables.tf
Due: none

Add executor
  commons/.circleci/platform_apply.yml
  commons/.circleci/platform_plan.yml
  commons/.circleci/platform_test.yml
  infrastructure/api_handler/.circleci/config.yml
Due: none

Update
  commons/.circleci/platform_test.yml
Due: none

update
  commons/.circleci/platform_test.yml
Due: none

validate
  commons/.circleci/platform_test.yml
Due: none

update
  infrastructure/api_handler/sand/dshah/variables.tf
Due: none

update
  apps/api_handler/.circleci/config-prod.yml
  infrastructure/api_handler/.circleci/config.yml
Due: run-api_handler

update
  infrastructure/api_handler/.circleci/config.yml
Due: none

rename
  infrastructure/api_handler/.circleci/config.yml
Due: none

remove checkout
  commons/.circleci/platform_apply.yml
  commons/.circleci/platform_plan.yml
Due: none

update
  commons/.circleci/platform_apply.yml
  commons/.circleci/platform_plan.yml
  commons/.circleci/platform_test.yml
  infrastructure/api_handler/.circleci/config.yml
Due: none

final
  apps/api_handler/.circleci/config-prod.yml
Due: run-api_handler

copy to artifact
  commons/.circleci/artifact_promotion.yml
Due: none

Update
  apps/api_handler/.circleci/config-prod.yml
Due: run-api_handler

update credentials
  apps/api_handler/.circleci/config-prod.yml
Due: run-api_handler

update
  commons/.circleci/artifact_promotion.yml
Due: none

update
  apps/api_handler/.circleci/config.yml
Due: run-api_handler

Check parallelism
  apps/api_handler/README.md
  commons/.circleci/app_testing.yml
  commons/.circleci/platform_init.yml
  commons/.circleci/platform_test.yml
Due: run-api_handler

Final commit
  .circleci/config.yml
  apps/partner_profile/.circleci/config-prod.yml
  apps/partner_profile/.circleci/config.yml
  commons/.circleci/parameters.yml
  infrastructure/partner_profile/.circleci/config.yml
Due: run-partner_profile

update
  .circleci/config.yml
  commons/.circleci/parameters.yml
Due: none

alignment
  .circleci/config.yml
  commons/.circleci/parameters.yml
Due: none

Update
  apps/api_handler/README.md
  apps/partner_profile/README.md
Due: run-api_handler, run-partner_profile

#major : update major
  apps/api_handler/README.md
  apps/partner_profile/README.md
Due: run-api_handler, run-partner_profile

update
  .circleci/config.yml
  apps/api_handler/.circleci/config.yml
Due: run-api_handler

update
  infrastructure/partner_profile/sand/dshah/lambda.tf
  infrastructure/partner_profile/sand/dshah/providers.tf
Due: none

update
  .circleci/config.yml
Due: none

Update
  apps/api_handler/README.md
Due: run-api_handler

update
  apps/api_handler/README.md
Due: run-api_handler

Update
  .circleci/config.yml
  apps/api_handler/.circleci/config-prod.yml
  apps/api_handler/.circleci/config.yml
Due: run-api_handler

update
  commons/.circleci/parameters.yml
Due: none

Update partner profile
  apps/partner_profile/.circleci/config-prod.yml
  apps/partner_profile/.circleci/config.yml
Due: run-partner_profile

update api_handler
  apps/api_handler/README.md
Due: run-api_handler

Update api
  apps/api_handler/README.md
Due: run-api_handler

#major: Update api handler
  apps/api_handler/README.md
Due: run-api_handler

update tf
  commons/scripts/setup_aws_profile.sh
  infrastructure/api_handler/sand/dshah/variables.tf
Due: none

add tf
  infrastructure/api_handler/sand/dshah/providers.tf
Due: none
